h1,
h2,
h3 {
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 5px;
    margin: 0;
}

h2,
h3 {
    margin-top: 20px;
}

p {
    font-family: 'Noto Serif', sans-serif;
    margin: 5px 0;
    line-height: 1.75;
    font-size: 15px;
}

a {
    color: #bf360c;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.body {
    padding: 20px;
    margin: auto;
    max-width: 1000px;
}