@import 'util/variables';
@import 'util/fonts';

* {
    font-family: $text-font-family;
}

@include headings {
    font-family: $heading-font-family;
}

a,
a:link {
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-gray-light;
    padding: 4px 0;
    margin: 0;
}

a:visited {
    color: $color-dark;
}

a:hover {
    color: $color-gray;
    text-decoration: none;
}

::selection {
    background: $color-accent;
    color: $color-on-accent;
}

.muted,
.muted * {
    color: $color-gray;
}