@charset "UTF-8";
/* Colors */
.color-primary {
  color: #c62828;
}

.color-light {
  color: #ff5f52;
}

.color-dark {
  color: #8e0000;
}

.color-accent {
  color: #80deea;
}

.color-accent-light {
  color: #b4ffff;
}

.color-accent-dark {
  color: #4bacb8;
}

.background-color-primary {
  background-color: #c62828;
  color: #ffffff;
}

.background-color-light {
  background-color: #ff5f52;
  color: #000000;
}

.background-color-dark {
  background-color: #8e0000;
  color: #ffffff;
}

.background-color-accent {
  background-color: #80deea;
  color: #000000;
}

.background-color-accent-light {
  background-color: #b4ffff;
  color: #000000;
}

.background-color-accent-dark {
  background-color: #4bacb8;
  color: #000000;
}

/* Fonts */
* {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h1 *,
h2 *,
h3 *,
h4 * {
  font-family: "Noto Serif", sans-serif;
}

.navbar {
  height: 80px;
  width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #c62828;
  background-color: #ffffff;
  color: #c62828;
  /*.navbar-left,
  .logo,
  .navbar-right {
      max-height: 80px;
  }*/
}
.navbar * {
  border: none !important;
  padding: 0;
}
.navbar .navbar-left {
  justify-self: left;
}
.navbar .logo {
  padding: 0;
  justify-self: center;
}
.navbar svg {
  height: 79px;
  width: auto;
  fill: #c62828;
}
.navbar .navbar-right {
  justify-self: right;
}
.navbar .navbar-nav {
  display: flex;
  align-content: center;
}
.navbar .navbar-nav a {
  margin: 0 15px;
  text-transform: uppercase;
  display: block;
  height: fit-content;
  align-self: center;
}
.navbar .navbar-nav .current {
  color: #4bacb8;
}

a,
a:link {
  color: #c62828;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  padding: 4px 0;
  margin: 0;
}

a:visited {
  color: #8e0000;
}

a:hover {
  color: #b0bec5;
  text-decoration: none;
}

::selection {
  background: #80deea;
  color: #000000;
}

.muted,
.muted * {
  color: #b0bec5;
}

.bc-divider:before {
  margin-right: 5px;
  margin-left: 5px;
  content: "â¯";
}

.twitter-parent .uk-card-header {
  padding-left: 0;
  padding-right: 0;
}

.twitter-parent iframe {
  border: 1px solid #e5e5e5 !important;
  height: calc(100vh - 78px);
  position: sticky !important;
  top: 79px;
}

body {
  margin: 0;
  border-right: 1px solid #ddd;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2 !important;
}

/*body>* {
    background-color: #f7f7f7;
}*/
section {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding-left: 30px;
  padding-right: 30px;
}

section > code,
section > pre,
.code {
  color: #555;
  padding: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}

code,
.code,
.CodeMirror {
  font-family: "Fira Code", monospace !important;
  font-size: 0.75rem;
}

.CodeMirror {
  min-height: 37px;
}

.rand {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0;
  margin: 8px 0;
}

.btn-svg {
  float: right;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn-svg svg {
  margin: 0.4em;
}

.btn-svg:hover path {
  fill: #ddd !important;
}

.btn-svg path {
  fill: #555 !important;
}

.result-bg {
  padding: 4px;
  margin: 8px 0 8px 29px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.c-red {
  color: #a11;
}

.c-dark {
  color: #555;
}

.c-blue {
  color: #219;
}

.c-violet {
  color: #708;
}

.c-green {
  color: #085;
}

.w-100 {
  width: 100%;
  margin: 0;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

/***/
*, ::after, ::before {
  box-sizing: border-box;
}
