@import 'variables';
@import 'breakpoints';
@import 'colors';
@import 'layout';

/* Fonts */

$text-font-family: 'Noto Sans',
sans-serif;
$heading-font-family: 'Noto Serif',
sans-serif;

* {
    font-family: $text-font-family;
}

h1,
h2,
h3,
h4,
h1 *,
h2 *,
h3 *,
h4 * {
    font-family: $heading-font-family;
}

a,
a:link {
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-gray-light;
    padding: 4px 0;
    margin: 0;
}

a:visited {
    color: $color-dark;
}

a:hover {
    color: $color-gray;
    text-decoration: none;
}

::selection {
    background: $color-accent;
    color: $color-on-accent;
}

.muted,
.muted * {
    color: $color-gray;
}


.bc-divider:before {
    margin-right: 5px;
    margin-left: 5px;
    content: 'â¯';
}

.twitter-parent .uk-card-header {
    padding-left: 0;
    padding-right: 0;
}

.twitter-parent iframe {
    border: 1px solid #e5e5e5 !important;
    height: calc(100vh - 78px);
    position: sticky !important;
    top: 79px;
}

section>code,
section>pre,
.code {
    color: #555;
    padding: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

code,
.code,
.CodeMirror {
    font-family: 'Fira Code', monospace !important;
    font-size: .75rem;
}

.CodeMirror {
    min-height: 37px;
}

.rand {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
    margin: 8px 0;
}

.btn-svg {
    float: right;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.btn-svg svg {
    margin: .4em;
}

.btn-svg:hover path {
    fill: $color-gray-light !important;
}

.btn-svg path {
    fill: $color-gray-dark !important;
}

.result-bg {
    padding: 4px;
    margin: 8px 0 8px 29px;
    background-color: #fff;
    border: 1px solid $color-gray-light;
}

.w-100 {
    width: 100%;
    margin: 0;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
