$color-primary: #c62828;
$color-light: #ff5f52;
$color-dark: #8e0000;
$color-accent: #80deea;
$color-accent-light: #b4ffff;
$color-accent-dark: #4bacb8;
$color-on-primary: #ffffff;
$color-on-light: #000000;
$color-on-accent: #000000;
$color-gray: #b0bec5;
$color-gray-light: #ddd;
$color-gray-dark: #555;
$text-font-family: 'Noto Sans', sans-serif;
$heading-font-family: 'Noto Serif', sans-serif;